blockchain/node_modules/
snet_cli/venv/
.idea/
snet_cli/snet_cli.egg-info/
snet_cli/snet_cli/resources/contracts/abi
snet_cli/snet_cli/resources/contracts/networks
snet_cli/snet_cli/resources/proto/*.py
snet_cli/snet_cli/resources/node_modules
snet_cli/build/
snet_cli/dist/

snet_sdk/venv/
snet_sdk/snet_sdk.egg-info/
__pycache__
snet_sdk/snet_sdk/resources/contracts/abi
snet_sdk/snet_sdk/resources/contracts/networks
snet_sdk/build/
snet_sdk/dist/
