include snet_cli/resources/contracts/Agent.json
include snet_cli/resources/contracts/AgentFactory.json
include snet_cli/resources/contracts/Job.json
include snet_cli/resources/contracts/Registry.json
include snet_cli/resources/contracts/SingularityNetToken.json
