include snet_cli/resources/Agent.json
include snet_cli/resources/AgentFactory.json
include snet_cli/resources/Job.json
include snet_cli/resources/Registry.json
include snet_cli/resources/SingularityNetToken.json
