protobuf==4.21.6
grpcio-tools==1.59.0
wheel==0.41.2
jsonrpcclient==4.0.3
eth-hash==0.5.2
rlp==3.0.0
eth-rlp==0.3.0
web3==6.11.1
mnemonic==0.20
pycoin==0.92.20230326
pyyaml==6.0.1
ipfshttpclient==0.4.13.2
rfc3986==2.0.0
pymultihash==0.8.2
base58==2.1.1
argcomplete==3.1.2
grpcio-health-checking==1.59.0
jsonschema==4.0.0
eth-account==0.9.0
trezor==0.13.8
ledgerblue==0.1.48
validators==0.28.1
snet.contracts==0.1.1
